{% extends 'base.html' %}

{% block title %}
Something Went Wrong
{% endblock %}

{% block content %}
<section class="bg-white">
  <div class="max-w-screen-xl px-4 py-16 mx-auto text-black space-y-8 sm:px-6 lg:px-8">
    <div class="max-w-lg mx-auto text-center">
      <h2 class="text-3xl font-bold sm:text-4xl">Page Not Found</h2>

      <p class="mt-4 text-xl mb-4">
        Well this is embarrassing. It appears this page doesn't exist. How about a search?
      </p>
      <!-- Search Form -->
      <form action="/search" method="GET" class="veritasSearchForm">
        <div class="flex items-center justify-center">
          <div class="flex border-2 rounded">
            <input type="text" name="query" class="px-4 text-black py-2 w-80 veritasSearchInput" minlength="3"
              placeholder="Search..." required>
            <button type="submit" class="flex items-center justify-center bg-white px-4 border-l veritasSearchBtn">
              <img src="/static/images/primary-search-icon.png" class="searchBarIcon" height="20" width="20" alt="">
            </button>
          </div>
        </div>
        {% with errors = get_flashed_messages(category_filter=['no-results']) %}
        {% if errors %}
        {% for msg in errors %}
        <p class="text-base text-center text-red-500">{{msg}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </form>
      <!-- End Search Form -->

    </div>
  </div>
</section>

{% endblock %}