{% extends 'base.html' %}

{% block title %}
Twentiment
{% endblock %}

{% block content %}
<h1 class="mt-3 text-3xl text-center">Twentiment</h1>
<div class="w-full max-w-sm mt-5 mx-auto">
  <form action="/search" method="GET" role="search">
    <input type="text" name='q' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </form>
</div>

<div class="w-full max-w-3xl mt-5 mx-auto">
  {% if tweets %}
  <h2 class="text-2xl">Tweets</h2>
    {% for tweet in tweets %}

      <p class="mb-2 p-1 border-solid border-2 border-black">{{tweet.text}}</p>
    {% endfor %}
  {% endif %}

  <!-- NEWSAPI -->
  {% if stories %}
    <h2 class="text-2xl">Stories</h2>
    {% for s in stories %}
      <div class="border-solid border-2 border-black mb-2 p-1">
        <h2 class="mb-2 p-1 font-bold">{{s.title}}</h2>
        <p class="text-xs">{{s.content}}</p>
        <a href="{{s.url}}" target="_blank">Link</a>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}