{% extends 'base.html' %}

{% block title %}
Veritas
{% endblock %}

{% block content %}
<div class="max-w-xl text-black mx-auto px-4">
  <div class="mx-auto text-center">
    <h1 class="text-3xl font-bold sm:text-4xl py-4 mt-8">Privacy Policy</h1>
  </div>

  <section class="container">
    <div class="">
      <p class="italic mb-8 text-center">Last updated: <time datetime="2022-02-18 20:00">February 18, 2022</time></p>

      <p class="text-lg my-4">This Privacy Policy describes our policies and procedures on the collection, use and
        disclosure of your
        information when you use the service.</p>

      <p class="text-lg my-4">Luckily, we don't collect <em>any</em> personal information on you, aside from
        whatever name you'd like to specify as your first name on this site. It's not even required when creating an
        account - you can leave it blank. We do keep track of your searches in
        order to provide better recommendations. You can delete your queries at any time from your profile page; they
        may still persist, but will no longer be connected to your account.</p>

      <p class="text-lg my-4">We understand it was long, but if you have any questions about this Privacy Policy,
        you can <a href="mailto:hello.veritasearch@gmail.com" class="text-blue-600 font-semibold">Email Us</a>.</p>
    </div>
  </section>
</div>
{% endblock %}