{% extends 'base.html' %}

{% block title %}
Veritas
{% endblock %}

{% block content %}
<div class="text-black mx-4 px-4">
  <div class="">
    <h1 class="text-3xl font-semibold">Privacy Policy for Veritas Search</h1>
  </div>

  <section class="container">
    <div class="">
      <p class="italic mb-8">Last updated: <time datetime="2022-02-18 20:00">February 18, 2022</time></p>

      <p class="text-sm my-4">This Privacy Policy describes Our policies and procedures on the collection, use and
        disclosure of Your
        information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>

      <p class="text-sm my-4">Luckily, we don't collect <em>any</em> personal information on you, aside from
        whatever "name" you'd like to specify as your first name on this site. We do keep track of your searches in
        order to provide better recommendations. You can delete your queries at any time from your profile page; they
        may still persist, but will no longer be connected to your account.</p>

      <p class="text-sm my-4">We understand it was long, but if you have any questions about this Privacy Policy,
        you can <a href="mailto:hello.veritasearch@gmail.com" class="text-blue-600 font-semibold">Email Us</a>.</p>
    </div>
  </section>
</div>
{% endblock %}