{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}

<h1 class="text-3xl text-center mt-3">Welcome, {{user.username}}</h1>
<div class="w-full max-w-sm mt-5 mx-auto border-solid border-2 border-black p-2">
  <ul>
    <li class="font-bold">Username: <span class="font-normal">{{user.username}}</span></li>
    <li class="font-bold">First Name: <span class="font-normal">{{user.first_name}}</span></li>

  </ul>
  <form action="/users/{{user.id}}/delete" method="POST">
    <button type="submit" class="float-right py-1 px-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-blue-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800">Delete Account</button>
  </form>
</div>

{% if queries %}
<div id="queryContainer" class="">
  <h3>Your Searches:</h3>
  <ul id="queryTable">
    {% for q in queries %}
    <li data-qid="{{q.id}}">
      {{q.text}}
        <button class="text-red-500">X</button>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<!-- Test Area -->
<!-- End Test Area -->

{% endblock %}