{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}

<!-- <form action="/search" method="POST" id="searchForm">
  <div class="flex items-center justify-center">
    <div class="flex border-2 rounded">
      <input type="text" id="searchInput" name="query" class="px-4 text-black py-2 w-80" placeholder="Search...">
      <button type="submit" class="flex items-center justify-center bg-white px-4 border-l">
          <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24">
              <path
                  d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
          </svg>
      </button>
    </div>
  </div>
</form> -->

<h1 class="text-3xl text-center mt-3">Welcome, {{user.username}}</h1>
<div class="w-full max-w-sm mt-5 mx-auto border-solid border-2 border-black p-2">
  <ul>
    <li class="font-bold">Username: <span class="font-normal">{{user.username}}</span></li>
    <li class="font-bold">First Name: <span class="font-normal">{{user.first_name}}</span></li>

  </ul>
  <form action="/users/{{user.id}}/delete" method="POST">
    <button type="submit" class="float-right py-1 px-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-blue-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800">Delete Account</button>
  </form>
</div>

{% if queries %}
<div id="queryContainer" class="">
  <h3>Your Searches:</h3>
  <ul id="queryTable">
    {% for q in queries %}
    <li data-qid="{{q.id}}">
      {{q.text}}
        <button class="text-red-500">X</button>
    </li>
    {% endfor %}
  </ul>
</div>

<h2 class="text-3xl text-center mt-3">Your Recommendations:</h2>
<!-- Articles -->
<div id="searchResultContainer">

  <!-- Tweets -->
  <!-- <h2 class="text-center text-3xl mt-5" id="tweetsHeader">Tweets</h2> -->
  <div id="tweetsContainer" class="grid justify-center">
    <div class="container px-8 grid grid-cols-3 gap-4 text-black">
      <!-- Positive  -->
      <div class="px-1 py-1 bg-lime-200">
        <div><h2 class="text-xl text-center" id="tweetsPositive">Positive</h2></div>
        {% if tweets[0] %}
        <div class="overflow-y-auto h-96">

          {% for t in tweets[0] %}
            <div>
              <div>
                <span>Analysis: {{t.polarity}} ({{t.sentiment}})</span>
              </div>
              {{t.embed_html|safe }}
            </div>
          {% endfor %}

        </div>
        {% else %}
          <p>No results found for this category.</p>
        {% endif %}
      </div>
      <!-- Neutral DO THIS FOR ALL -->
      <div class="px-1 py-1 bg-stone-200">
        <div><h2 class="text-center text-xl" id="tweetsNeutral">Neutral</h2></div>
        {% if tweets[1] %}
        <div class="overflow-y-auto h-96">

            {% for t in tweets[1] %}
              <div>
                <div>
                  <span>Analysis: {{t.polarity}} ({{t.sentiment}})</span>
                </div>
                {{t.embed_html|safe }}
              </div>
            {% endfor %}

        </div>
          {% else %}
            <p>No results found for this category.</p>
          {% endif %}
      </div>
      <!-- Negative  -->
      <div class="px-1 py-1 bg-red-300">
        <div><h2 class="text-center text-xl" id="tweetsNegative">Negative</h2></div>
        {% if tweets[2] %}
        <div class="overflow-y-auto h-96">

          {% for t in tweets[2] %}
            <div>
              <div>
                <span>Analysis: {{t.polarity}} ({{t.sentiment}})</span>
              </div>
              {{t.embed_html|safe }}
            </div>
          {% endfor %}

        </div>
        {% else %}
          <p>No results found for this category.</p>
        </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
<!-- end Articles -->

{% else %}
<h2 class="text-3xl text-center mt-3">Recommendations will appear here after you make a few searches.</h2>
{% endif %}



<!-- Test Area -->
<!-- End Test Area -->

{% endblock %}